/* font import */

@font-face {
  font-family: "AvantGardeGothicMedium";
  src: url(../fonts/Medium.otf);
}

/* custom properties for colors */

:root {
  --primaryColor: #46aa64;
  --secundaryColor: #0a3250;
  --tertiaryColor: #d4e9db;
  --grey: #dfe4e5;
  --black: #000000;
  --white: #ffffff;
}

@media (prefers-contrast: more) {
  :root {
    --primaryColor: #135c29;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: normal normal normal 16px/1.5 "AvantGardeGothicMedium";
  display: grid;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(assets/amsterdamwest.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 1em 6em 1em 1em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

.header__branding {
  margin: 0.6em;
  font-size: 1.6em;
  font-weight: bold;
}
span {
  color: var(--primaryColor);
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  /* text-transform: uppercase; */
  display: inline-block;
  padding: 0.5em 0.75em;
  position: relative;
}

.nav-links ul li a {
  color: var(--black);
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--primaryColor);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links li:last-child {
  display: inline-block;
  text-decoration: none;
  color: var(--secundaryColor);
  border: 1px solid var(--secundaryColor);
  border-radius: 2.5em;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.nav-links li:last-child:hover {
  border: 2px solid var(--secundaryColor);
  background: var(--primaryColor);
  transition: 0.5s;
}

/* width: 6em;
  margin: 0.75em 0.75em;
  padding: 1em;
  padding-top: 0.9em;
  font-size: 1em;
  text-align: center;
  border-radius: 2.5em;
  border-style: none;
  color: white;
  background-color: var(--secundaryColor);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
} */

.text-box {
  width: 90%;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 50px;
}

.text-box p {
  margin: 0.65em 0 2.5em;
  font-size: 14px;
  color: var(--white);
}

.bekijkmeer-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 2.5em;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.bekijkmeer-btn:hover {
  border: 1px solid var(--primaryColor);
  background: var(--primaryColor);
  transition: 0.5s;
}

.contactons-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 2.5em;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.contactons-btn:hover {
  border: 1px solid var(--primaryColor);
  background: var(--primaryColor);
  transition: 0.5s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: var(--secundaryColor);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: var(--white);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

aside {
  background-color: var(--white);
  padding: 2.8em;
  width: 10vw;
  height: 90vh;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

.opties {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 6.25em;
  height: 90vh;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #606060;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.opties-col {
  /* flex-basis: 31%; */
  background: var(--tertiaryColor);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.opties-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.features {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 6.25em;
  height: 100vh;
  background-color: var(--grey);
}

.footer {
  width: 100%;
  height: 4em;
  text-align: center;
  padding: 30px 0;
  background-color: var(--secundaryColor);
}

.social-icons .fa {
  margin: 0 13px;
  padding: 18px 0;
  cursor: pointer;
  color: var(--white);
}

.contactformulier {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(assets/amsterdamwest.jpg);
}

form {
  color: var(--white);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.bi-cards {
  color: var(--white);
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: var(--black);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
  transform: scale(0.9);
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: var(--black);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(
    to bottom left,
    var(--tertiaryColor) 40%,
    var(--grey) 100%
  );
}

.card_title {
  color: var(--black);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: var(--black);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
